.pagination{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}
.pagination button {
    width: 80px;
    background-color: #3874fa;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.pagination p{
    text-align: center;
    width: 25px;
    border: 1px solid #3874fa;
    border-radius: 5px;
}
.disabled{
    opacity: 0.3;
}
.selected{
    background-color: #3874fa;
}