.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: blue;
  margin-bottom: 80px;
  border-radius: 10px;
}
.footer {
  text-align: center;
  background-color: blue;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}
